In [69]:
import pandas as pd
import os

base_path = "../Data/Dashboad_supermarket_data"
csv_file = os.path.join(base_path, "GroceryDataset.csv")

data = pd.read_csv(csv_file)
print(data.head())  # Check if data loads correctly

  Order ID Customer Name          Category      Sub Category         City  \
0      OD1        Harish      Oil & Masala           Masalas      Vellore
1      OD2         Sudha         Beverages     Health Drinks  Krishnagiri
2      OD3       Hussain       Food Grains      Atta & Flour   Perambalur
3      OD4       Jackson  Fruits & Veggies  Fresh Vegetables   Dharmapuri
4      OD5       Ridhesh       Food Grains   Organic Staples         Ooty

   Order Date Region  Sales  Discount  Profit       State
0  11-08-2017  North   1254      0.12  401.28  Tamil Nadu
1  11-08-2017  South    749      0.18  149.80  Tamil Nadu
2  06-12-2017   West   2360      0.21  165.20  Tamil Nadu
3  10-11-2016  South    896      0.25   89.60  Tamil Nadu
4  10-11-2016  South   2355      0.26  918.45  Tamil Nadu

In [70]:
data.head()

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu

In [71]:
data.info(verbose='true')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB

The data looks clean however the date is in different formats. 

The purpose of this project is to create dashboards in order to gain key business insights, so I will drop unnecessary columns, format the data correctly and then I will export the data set to create dashboards on excel.

In [75]:

# Create a copy of the dataset and drop unnecessary columns
clean_data = data.copy()
clean_data = clean_data.drop(columns=["Order ID", "Customer Name", "City"])

# Ensure "Order Date" is treated as a string and remove spaces
clean_data["Order Date"] = clean_data["Order Date"].astype(str).str.strip()

# Identify rows with "-" (DD-MM-YYYY) and "/" (MM/DD/YYYY)
mask_dash = clean_data["Order Date"].str.contains("-", regex=True)
mask_slash = clean_data["Order Date"].str.contains("/", regex=True)

# Convert each format separately
clean_data.loc[mask_dash, "Order Date"] = pd.to_datetime(clean_data.loc[mask_dash, "Order Date"], format="%d-%m-%Y", errors="coerce")
clean_data.loc[mask_slash, "Order Date"] = pd.to_datetime(clean_data.loc[mask_slash, "Order Date"], format="%m/%d/%Y", errors="coerce")

# Final conversion to ensure the entire column is datetime
clean_data["Order Date"] = pd.to_datetime(clean_data["Order Date"], errors="coerce")

# Remove time, keeping only YYYY-MM-DD format
clean_data["Order Date"] = clean_data["Order Date"].dt.date  # âœ… Correct way to remove time

In [77]:

clean_data.info(verbose='true')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      9994 non-null   object
 1   Sub Category  9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Region        9994 non-null   object
 4   Sales         9994 non-null   int64
 5   Discount      9994 non-null   float64
 6   Profit        9994 non-null   float64
 7   State         9994 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 624.8+ KB

In [78]:
clean_data.head(50)

,Category,Sub Category,Order Date,Region,Sales,Discount,Profit,State
0,Oil & Masala,Masalas,2017-08-11,North,1254,0.12,401.28,Tamil Nadu
1,Beverages,Health Drinks,2017-08-11,South,749,0.18,149.80,Tamil Nadu
2,Food Grains,Atta & Flour,2017-12-06,West,2360,0.21,165.20,Tamil Nadu
3,Fruits & Veggies,Fresh Vegetables,2016-11-10,South,896,0.25,89.60,Tamil Nadu
4,Food Grains,Organic Staples,2016-11-10,South,2355,0.26,918.45,Tamil Nadu
5,Food Grains,Organic Staples,2015-09-06,West,2305,0.26,322.70,Tamil Nadu
6,Fruits & Veggies,Fresh Vegetables,2015-09-06,West,826,0.33,346.92,Tamil Nadu
7,Fruits & Veggies,Fresh Fruits,2015-09-06,West,1847,0.32,147.76,Tamil Nadu
8,Bakery,Biscuits,2015-09-06,West,791,0.23,181.93,Tamil Nadu
9,Bakery,Cakes,2015-09-06,West,1795,0.27,484.65,Tamil Nadu
10,Snacks,Chocolates,2015-09-06,West,1903,0.13,437.69,Tamil Nadu
11,"Eggs, Meat & Fish",Eggs,2015-09-06,West,701,0.10,308.44,Tamil Nadu
12,Snacks,Cookies,2018-04-15,South,1659,0.19,315.21,Tamil Nadu
13,Fruits & Veggies,Fresh Vegetables,2017-05-12,West,1277,0.25,63.85,Tamil Nadu
14,"Eggs, Meat & Fish",Chicken,2016-11-22,Central,831,0.22,207.75,Tamil Nadu
15,Oil & Masala,Edible Oil & Ghee,2016-11-22,Central,1440,0.11,100.80,Tamil Nadu
16,Bakery,Cakes,2015-11-11,Central,1678,0.28,318.82,Tamil Nadu
17,Beverages,Health Drinks,2015-05-13,West,1617,0.19,113.19,Tamil Nadu
18,"Eggs, Meat & Fish",Mutton,2015-08-27,West,1757,0.35,386.54,Tamil Nadu
19,Beverages,Soft Drinks,2015-08-27,West,692,0.29,159.16,Tamil Nadu
20,Beverages,Health Drinks,2015-08-27,West,522,0.19,208.80,Tamil Nadu
21,Food Grains,Dals & Pulses,2017-09-12,Central,948,0.13,47.40,Tamil Nadu
22,Beverages,Soft Drinks,2017-09-12,Central,707,0.34,148.47,Tamil Nadu
23,Fruits & Veggies,Organic Vegetables,2018-07-16,East,969,0.29,77.52,Tamil Nadu
24,"Eggs, Meat & Fish",Eggs,2016-09-25,West,1100,0.11,495.00,Tamil Nadu
25,Snacks,Chocolates,2017-01-16,West,2022,0.11,202.20,Tamil Nadu
26,Snacks,Cookies,2017-01-16,West,541,0.12,43.28,Tamil Nadu
27,Bakery,Biscuits,2016-09-17,East,979,0.22,401.39,Tamil Nadu
28,Beverages,Soft Drinks,2016-09-17,East,1988,0.22,874.72,Tamil Nadu
29,Oil & Masala,Masalas,2016-09-17,East,989,0.17,69.23,Tamil Nadu
30,Beverages,Soft Drinks,2016-09-17,East,1845,0.24,166.05,Tamil Nadu
31,Snacks,Noodles,2016-09-17,East,1400,0.11,420.00,Tamil Nadu
32,Oil & Masala,Edible Oil & Ghee,2016-09-17,East,2163,0.26,670.53,Tamil Nadu
33,Oil & Masala,Masalas,2016-09-17,East,1689,0.34,337.80,Tamil Nadu
34,Beverages,Health Drinks,2018-10-19,Central,809,0.32,80.90,Tamil Nadu
35,"Eggs, Meat & Fish",Eggs,2017-08-12,Central,1265,0.22,569.25,Tamil Nadu
36,Beverages,Soft Drinks,2017-08-12,Central,934,0.35,56.04,Tamil Nadu
37,Fruits & Veggies,Organic Vegetables,2016-12-27,Central,1354,0.16,446.82,Tamil Nadu
38,Fruits & Veggies,Fresh Fruits,2016-12-27,Central,1751,0.19,280.16,Tamil Nadu
39,"Eggs, Meat & Fish",Chicken,2016-12-27,Central,2045,0.23,879.35,Tamil Nadu
40,Beverages,Health Drinks,2016-12-27,Central,660,0.19,92.40,Tamil Nadu
41,Beverages,Soft Drinks,2018-10-09,Central,1868,0.18,616.44,Tamil Nadu
42,Snacks,Cookies,2017-07-17,West,1017,0.25,345.78,Tamil Nadu
43,Snacks,Cookies,2018-09-19,South,2311,0.20,1039.95,Tamil Nadu
44,Bakery,Biscuits,2017-11-03,Central,1663,0.17,731.72,Tamil Nadu
45,"Eggs, Meat & Fish",Eggs,2017-11-03,Central,1420,0.19,355.00,Tamil Nadu
46,Fruits & Veggies,Organic Vegetables,2015-10-20,Central,1415,0.31,509.40,Tamil Nadu
47,Snacks,Noodles,2017-06-20,East,1488,0.30,610.08,Tamil Nadu
48,Snacks,Noodles,2017-06-20,East,726,0.18,43.56,Tamil Nadu
49,Bakery,Cakes,2016-04-18,Central,1259,0.15,415.47,Tamil Nadu

In [ ]:
!pip install openpyxl

In [79]:

clean_data.to_excel("cleaned_sales_data1.xlsx", index=False)
print("Dataset saved as cleaned_sales_data.xlsx, ready for Excel!")

Dataset saved as cleaned_sales_data.xlsx, ready for Excel!